[submodule "SimCCL"]
	path = SimCCL
	url = https://github.com/aliyun/SimCCL
	branch = master
[submodule "aicb"]
	path = aicb
	url = https://github.com/aliyun/aicb
	branch = master
[submodule "ns-3-alibabacloud"]
	path = ns-3-alibabacloud
	url = git@github.com:renyue0411/optics-rdma-aisim-ns3.git
	branch = master
